<div class="map-container col-lg-9 col-md-9 col-sm-12 col-xs-12" ng-controller="CalendarCtrl"> 
	<!-- <google-map center="map.center" zoom="map.zoom" draggable="true"> -->
		<!-- returnedPlaces is an array on the $rootScope -->
		<!-- <marker ng-repeat="marker in returnedPlaces" idKey="marker.id" coords="marker.coords" fit="true" options="marker.options" click="marker.click">
			<window isIconVisibleOnClick="true">
				<div id="window-div">
					<h5>{{marker.name}}</h5>
					<p>Rating: {{marker.rating}}</p>
					<button class="btn btn-xs btn-success">Add to Itinerary</button>
					<button class="btn btn-xs btn-info">More Info</button>
				</div>
			</window>
		</marker>
	</google-map> -->
	<!-- <div class="btn-toolbar">
	    <div class="btn-group">
	        <button class="btn btn-success" ng-click="changeView('agendaDay', myCalendar)">Day</button>
	        <button class="btn btn-success" ng-click="changeView('agendaWeek', myCalendar)">Week</button>
	        <button class="btn btn-success" ng-click="changeView('month', myCalendar)">Month</button>
	    </div>
	</div> -->
	<div class="alert-success calAlert" ng-show="alertMessage != undefined && alertMessage != ''">
	    <h4>{{alertMessage}}</h4>
	</div>
	<div class="calendar" ng-model="eventSources" calendar="myCalendar" config="uiConfig.calendar" ui-calendar="uiConfig.calendar"></div>
	<ul class="unstyled">
	    <li ng-repeat="e in events | filter:currentDate">
	        <div class="alert alert-info">
	            <a class="close" ng-click="remove($index)"><i class="icon-remove"></i></a>
	            <b> {{e.title}}</b> - {{e.start | date:"MMM dd"}}
	        </div>
	    </li>
	</ul>
</div>

<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" id="shelf">
	<ul class="nav nav-tabs nav-justified" role="tablist">
	  <li ng-click="toggleView('itinerary')" class="active"><a>Itinerary</a></li>
	  <li ng-click="toggleView('search')"><a>Search</a></li>
	</ul>
	
	<div id="itinerary" ng-show="showItinerary.value" ng-controller="ItineraryCtrl">
		
	</div>

	<div id="search" ng-show="showSearch.value" ng-controller="SearchCtrl">
		<form ng-submit="gMapsSearch(autocomplete)">
		<input type="text" ng-autocomplete ng-model="autocomplete" options="options" details="details" placeholder="What do you want to find?" id="searchBox" />
		<button type="submit" id="searchButton"><span class="glyphicon glyphicon-search"></span></button>
		</form>

		<div class="place-card clearfix" ng-repeat="place in returnedPlaces">
				<div id="button-container">
					<button class="btn btn-md btn-success" id="add-button" ng-click="addToItinerary(place)">Add to Itinerary</button>
					<button class="btn btn-md btn-info info-button" ng-click="placeDetails(place, [$index])">{{infoButtons[$index]}}</button>
				</div>
				<h3 ng-click="placeDetails(place)">{{place.name}}</h3>
				<p>
					<b>Rating:</b> {{place.rating}}
					<small><small><em>1 is poor and 5 is exceptional</em></small></small>
				</p>
				<div ng-show="showInfo[$index]">
					<p>
						<b>Price Level (0-4): </b> {{place.details.price_level}}
						<small><small><span>0 is free, 4 is very expensive</span></small></small>
					</p>
					<b>Business Hours:</b> 
						<p class="business-hours" 
							ng-repeat="day in place.details.opening_hours.periods">
							{{day | OpeningHours}}
						</p>
					<br>
					<p><b>Review: </b><em>"{{place.details.reviews[0].text}}"</em></p>
					<p><b>Address: </b>{{place.details.formatted_address}}</p>
					<p><b>Phone: </b>{{place.details.international_phone_number || place.details.formatted_phone_number}}</p>
					<p><b>Website: </b><a href={{place.details.website}}>{{place.details.website}}</a></p>
				</div>
		</div>
	</div>
</div>


