.angular-google-map-container { 
	height: 100%; 
}

.angular-google-map {
	height: calc(100% - 50px);
}

.map-container {
	padding:5px;
	-moz-box-shadow:inset 0 0 10px #000000;
	-webkit-box-shadow:inset 0 0 10px #000000;
	box-shadow:inset 0 0 10px #000000;
}

#shelf {
	height: calc(100% - 50px);
	overflow:scroll;
}

#place-card {
	// border:1px solid black;
	-moz-box-shadow: 0 0 25px -7px #000000;
	-webkit-box-shadow: 0 0 25px -7px #000000;
	box-shadow: 0 0 25px -7px #000000;
	padding:5px;
	padding-left:10px;
}
