<div class="map-container col-lg-9 col-md-9 col-sm-12 col-xs-12"> 
	<google-map center="map.center" zoom="map.zoom" draggable="true">
		<!-- returnedPlaces is an array on the $rootScope -->
		<marker ng-repeat="marker in returnedPlaces" idKey="marker.id" coords="marker.coords" fit="true" options="marker.options" click="marker.click">
			<window isIconVisibleOnClick="true">
				<div id="window-div">
					<h5>{{marker.name}}</h5>
					<p>Rating: {{marker.rating}}</p>
					<button class="btn btn-xs btn-success">Add</button>
					<button class="btn btn-xs btn-info">Info</button>
				</div>
			</window>
		</marker>
	</google-map>
</div>

<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" id="shelf">
	<ul class="nav nav-tabs nav-justified" role="tablist">
	  <li ng-click="toggleView('itinerary')" class="active"><a>Itinerary</a></li>
	  <li ng-click="toggleView('search')"><a>Search</a></li>
	</ul>
	
	<div id="itinerary" ng-show="showItinerary.value" ng-controller="ItineraryCtrl">
		<p>{{message}}</p>
	</div>

	<div id="search" ng-show="showSearch.value" ng-controller="SearchCtrl">
		<form ng-submit="gMapsSearch(autocomplete)">
		<input type="text" ng-autocomplete ng-model="autocomplete" options="options" details="details" placeholder="What do you want to find?" id="searchBox" />
		<button type="submit" id="searchButton"><span class="glyphicon glyphicon-search"></span></button>
		</form>

		<div id="place-card" ng-repeat="place in returnedPlaces" class="clearfix">
				<div id="button-container">
					<button class="btn btn-sm btn-success" id="add-button">Add to Itinerary</button>
					<button class="btn btn-sm btn-info" id="info-button" ng-click="placeDetails(place, [$index])">{{infoButtons[$index]}}</button>
				</div>
				<h3 ng-click="placeDetails(place)">{{place.name}}</h3>
				<p>
					<b>Rating:</b> {{place.rating}}
					<small><small><em>1 is poor and 5 is exceptional</em></small></small>
				</p>
				<div ng-show="showInfo[$index]">
					<p>
						<b>Price Level (0-4): </b> {{place.details.price_level}}
						<small><small><span>0 is free, 4 is very expensive</span></small></small>
					</p>
					<b>Business Hours:</b> 
						<p class="business-hours" 
							ng-repeat="day in place.details.opening_hours.periods">
							{{day | OpeningHours}}
						</p>
					<br>
					<p><b>Review: </b><em>"{{place.details.reviews[0].text}}"</em></p>
					<p><b>Address: </b>{{place.details.formatted_address}}</p>
					<p><b>Phone: </b>{{place.details.international_phone_number || place.details.formatted_phone_number}}</p>
					<p><b>Website: </b><a href={{place.details.website}}>{{place.details.website}}</a></p>
				</div>
		</div>
	</div>
</div>


