#navbar {
	height:50px;
	margin:0;
	background-color: black;
	border-style: solid;
	border:none;
}


.head-navbar li:active {
	background-color:#e7e7e7;
	box-shadow: 0 0 10px #000000;
}

.head-navbar li:hover {
	background-color:#e7e7e7;
}

